<div style="height:{{comet4jheight}}px;background-color:#e7f6f6;border-top: 1px solid rgb(196,197,204);" ng-show="visible">
<div class="resultListPagetion" style="background-color: #e7f6f6;height:20px;">
		<span class="glyphicon" ng-class="listStatus"  style="cursor:pointer;color:rgb(1,109,171);top:2px;margin-left: -20px;" ng-click="changListStatus();"></span>
</div>
<div ng-show="comet4jvisible">
<div style="height:45px;background-color:#1e7dce;color:#eeeeee;text-align: center;font-size: 24px;font-family: 微软雅黑;padding-top:5px;">投诉举报动态</div>
<!--<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">等待受理：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{dclcount}}</div>
<div>&nbsp;件</div>
</div>  -->
<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">今日受理：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{jrclcount}}</div>
<div>&nbsp;件</div>
</div>
<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">正在办理：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{zzblcount}}</div>
<div>&nbsp;件</div>
</div>
<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">本月办结：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{byblcount}}</div>
<div>&nbsp;件</div>
</div>
<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">本年办结：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{bnblcount}}</div>
<div>&nbsp;件</div>
</div>
<div style="padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">累计办结：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{ljblcount}}</div>
<div>&nbsp;件</div>
</div>
<div style="float:left;padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
<div  style="float:left;">自动刷新间隔：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">120</div>
<div  style="float:left;">&nbsp;秒/剩余：</div>
<div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{remainderc}}</div>
<div  style="float:left;">&nbsp;秒</div>
</div>
</div>
<!--<button type="button" ng-click="setIntervalD()">刷新</button>  -->
</div>