<div style="overflow-x: hidden; background-color:#e7f6f6;" ng-show="visible">
    <div class="panel panel-info" >
        <div class="panel-heading text-center">
            <h3 class="panel-title">综合查询</h3>
        </div>
        <div style="border-bottom:1px solid rgb(196,197,204);margin:0px 0px 0px 0px"></div>
        <div >
           <!--  <div class="container-fluid text-center">
                <div class="row" style="border-bottom:solid 1px;margin-top:0px">
                    <div class="col-xs-12" ng-class="{'tableselect':selectMenu=='timeSpanSetting'}" style="cursor: pointer" ng-click="activeLeftMenu('timeSpanSetting')" >
                        <img style="width:60px; height:70px;margin-top:-50px" src="images/sysManager/xypj.png">
                        <div style="font-size:15px;margin-top:-40px;padding-bottom:10px;" >查询范围</div>
                    </div>
                </div> -->
             <!--    <div class="row" style="border-bottom:solid 1px;padding-bottom:0px">
                    <div class="col-xs-12" ng-class="{'tableselect':selectMenu=='sysVerManager'}" style="cursor:pointer"
                         ng-click="activeLeftMenu('sysVerManager')">
                        <img style="width:60px;height:70px;margin-top:-50px"src="images/sysManager/zx.png">
                        <div style="font-size:15px;margin-top:-40px;padding-bottom:10px;" >版本更新</div>
                    </div>
                </div> -->
                <p></p><p></p></br>
           <table>
                <tr valign="middle" style="height:32px;" ng-show="!visible">
                    <td class="fontftw" style="padding-top:2px;padding-left:18px;width:110px;">关&nbsp;&nbsp;&nbsp;键&nbsp;&nbsp;&nbsp;&nbsp;字:</td>
                    <td style="padding:0px 0px;" >
                        <input class="fontftw form-control"  style="z-index: 1;width:203px;" ng-model="keyword"  type="text" placeholder="请输入......" ></td>
                </tr>
                <tr valign="middle" style="height:32px;">
                    <td class="fontftw"  style="padding-top:2px;padding-left:18px;width:110px;">设&nbsp;备&nbsp;类&nbsp;型:</td>
                    <td style="padding:0px 0px;" >
                      <select class="fontftw infoInput" style="z-index:5;width:203px;heigth:32px;" ng-model="fType">
                                    <option value="">全部</option>
                                    <option value="岸边网关">岸边网关</option>
                                    <option value="声学传感器">声学传感器</option>
                                     <option value="中继器">中继器</option>
                                   
                        </select>

                        </td>
                </tr>
                <tr valign="middle" style="height:32px;">
                    <td class="fontftw"  style="padding-top:2px;padding-left:18px;width:110px;">设&nbsp;备&nbsp;序&nbsp;号:</td>
                    <td style="padding:0px 0px;" >
                        <input class="fontftw infoInput"  style="z-index: 2;width:203px;" ng-model="fXh" type="text" placeholder="请输入......" ></td>
                </tr>
                <tr valign="middle" style="height:32px;">
                    <td class="fontftw"  style="padding-top:2px;padding-left:18px;width:110px;">设&nbsp;备&nbsp;状&nbsp;态:</td>
                    <td style="padding:0px 0px;" >
                       <select class="fontftw infoInput" style="z-index:5;width:203px;heigth:32px;" ng-model="fStatus">
                                    <option value="">全部</option>
                                    <option value="正常">正常</option>
                                    <option value="休眠">休眠</option>
                                   
                        </select>

                        </td>
                </tr>
                <tr valign="middle" style="height:32px;">
                    <td class="fontftw"  style="padding-top:2px;padding-left:18px;width:110px;">安&nbsp;装&nbsp;时&nbsp;间:</td>
                    <td style="padding:0px 0px;" >
                      <input  class="fontftw infoInput"  style="z-index: 2; width: 92px;" type="text" id="fInstallTimeStart" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
                                <span class="fontftw">至</span>
                                <input  class="fontftw infoInput"  style="z-index: 2; width: 92px;" type="text" id="fInstallTimeEnd" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
                </tr>
    
        </table>
                <br>
        <div class="buttonattribute" ng-click="infoSearch()" >搜索</div>
        <p></p>
      
    </div>
</div>
<div class="resultListContainer"    style="height:320px; background-color:#e7f6f6;" ng-show="totalItems >0" >
    <div class="resultList resultListContent"  style="min-height:75px">
        <table style="width:100%; "  border="1px"  bordercolor="#dddddd">
            <tr style="background-color:#e9e9e9 ;height:30px;">
                <td class="tablist" style="text-align:center;max-width:150px;">设备ID</td>
                <td class="tablist" style="width:70px;text-align:center;">设备类型</td>
                <td class="tablist" style="text-align:center;">设备状态</td>
            </tr>
            <tr style="height:30px;" ng-repeat="p in items"  ng-class="{'tableselect':selectTR=='{{p.fId}}'}" ng-click="setPosition(p)">
                <td style="font-size: 12px; font-family: 微软雅黑;cursor:pointer;text-align:center;max-width:150px;">{{ p["fId"]}}</td>
                <td style="font-size: 12px; font-family: 微软雅黑;cursor:pointer;text-align:center;">{{ p["fType"]}}</td>
                <td style="font-size: 12px; font-family: 微软雅黑;cursor:pointer;text-align:center;">{{ p["fStatus"]}}</td>
            </tr>
        </table>

        
    </div>

    <div ng-show="true" style="text-align:right;font-size: 15px;padding-right:6px;font-weight:bold;font-family: 微软雅黑; color: #ff0000;">查询到{{totalItems}}个设备</div>
    <div class="resultList resultListPagetion" style="height:50px;"  border="1px"  bordercolor="#dddddd"  ng-if="totalItems >5">
        <pagination style="height:30px;margin-top:10px;margin-bottom:8px;" total-items="totalItems" page="currentPage" items_per_page="itemsPerPage" on-select-page="selectPage(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" max-size="  maxSize">           
        </pagination>
    </div>
      <div style="width:94%;height:30px;margin:10px 3% 0 3%;text-align:center;">
            <div style="width:30%;float:left;margin-left:16%" class="buttonattribute" ng-click="operate()">操作</div>
            <div style="width:30%;float:left;margin-left:6%;" class="buttonattribute" ng-click="infoSearchHigh()" >历史数据</div>
    </div>
      <br>
</div>

<div style="height:{{comet4jheight}}px;background-color:#e7f6f6;margin-top:{{mlength}}px;border-top: 1px solid rgb(196,197,204);" ng-show="!totalItems >0">
    <div class="resultListPagetion" style="background-color: #e7f6f6;height:20px;">
            <span class="glyphicon" ng-class="listStatus"  style="cursor:pointer;color:rgb(1,109,171);top:2px;margin-left: -20px;" ng-click="changListStatus();"></span>
    </div> 

    <div ng-show="!totalItems >0">
        <div style="float:left;padding-left:30px;font-size: 16px;font-family: 微软雅黑;color:#5b5b5b;margin-top:13px;">
        <div  style="float:left;">当前网关数量：</div>
        <div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{wg}}</div></br></br>
        <div  style="float:left;">当前中继器数量：</div>
        <div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{zjq}}</div></br></br>
        <div  style="float:left;">当前声学传感器数量：</div>
        <div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{cgq}}</div></br></br>
        <div  style="float:left;">自动刷新间隔：</div>
        <div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">10</div>
        <div  style="float:left;">&nbsp;秒/剩余：</div>
        <div style="float:left;font-weight:bold;font-size: 16px;font-family: 微软雅黑;color:#ff0000;">{{countdown}}</div>
        <div  style="float:left;">&nbsp;秒</div>
    </div>
</div>
</div>


